# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
*_venv/
.venv/
venv/
ENV/
env/

# Logs
logs/
*.log

# OS-specific
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
